// COLOR VARIABLES
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; //10px/ 16px=62.2>>>>1rem = 10px
}

body {
  font-family: $font-primary;
  color: $color-grey-dark-2;
  font-weight: 300;
  line-height: 1.6;
}

.container {
  display: grid;
  //different between min-content and vw...min-content set the height according to height of content
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  //14rem>>>1140/8=14.25
  //we put 1fr before and and after 8 cols>>called full-bleed sections>> because we want these 8 columns to be in center
  //because of sidebar we can not use margin auto 0 so we have to use this trick
  //minmax(6fr, 1fr)>>>>we put it because we want always to have the margin for exaple for homes...but with 1fr when the screen is decreased,
  // 1fr will be decrease till 0>>>but with this new minmax we maintain the margin(I mean two columns for fix 8 columns in center) 6rem
  // ...6rem is min of width of these two columns
  grid-template-columns: [sidebar-start]8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8,
          [col-start]minmax(min-content, 14rem) [col-end])[center-end] minmax(6rem, 1fr) [full-end];
  //center them between sidebar and end of vp

  //for all of children in the container
  //& > * {
  //  padding: 40px;
  //  font-size: 3rem;
  //}

}