.sidebar {
  background-color: $color-primary;
  grid-column: sidebar-start/ sidebar-end;
  grid-row: 1/ -1;

  //for put the lines in the center
  display: flex;
  //aligns all of the items along the main axis,horizontally
  justify-content: center;
}

.nav-btn {
  border: none;
  border-radius: 0;

  background-color: #fff;
  height: 2px;
  width: 4.5rem;
  margin-top: 4rem;

  &::before,
  &::after {
    background-color: #fff;
    height: 2px;
    width: 4.5rem;
    content: "";
    display: block;
  }
  //we have to put one of them top and one of them down
  &::before {transform: translateY(-1.5rem);}
//  Now just a small problem here, I see that here this distance here is slightly smaller than this one here and that's
  //  because we translated both 1.5 rem, but the place where it starts counting this offset is not really centered here
  //  apparently.So we just have to move this one here so that the after one a bit up.so >>>1.5>>>1.3
  &::after {transform: translateY(1.3rem);}
}