# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\HTML\HTML\exercise\Advance CSS Course\advanced-css-course-master\advanced-css-course-master\Nexter\starter\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
